# --------------------------------------------------
# Python
# --------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Distribution
build/
dist/
*.egg-info/

# macOS
.DS_Store
._*

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

JGA_REPOSITORY.zip

# Bootstrap artifacts
artifacts/
